{% extends 'base.html' %}

{% block title %}Document Reader - Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css"> -->
{% endblock %}

{% block header %}FILE GIVEN{% endblock %}

{% block content %}

    <div class="pre-reader">
        {% if doc_content %}
        <h2>Contents of Uploaded File:</h2>
        <div class="document-content" style="white-space: pre-wrap;">{{ doc_content|safe }}</div>
        {% endif %}
    </div>

{% endblock %}
